<%= content_for :head do %>
<%= stylesheet_link_tag 'about' %>
<%= stylesheet_link_tag 'nav' %>
<% end %>

<div class="nav">
  <ul class="links">
    <li><%= link_to 'add your own', '#' %></li>
    <li><%= link_to 'about 1v99.org', '/about' %></li>
  </ul>
  <h1><%= link_to '1v99', '/' %></h1>
  <h2><span>V</span>isualize the gap.</h2>
</div>

<div id="what">
  <h3>What?</h3>
  <div class="divider"></div>
  <p><a href="http://1v99.org">1v99.org</a> is about highlighting the difference between the 1% and the 99% objectively and visually. We have started off with Air Travel (Private Jets vs Economy) and Homes (Mansions vs non-Mansions). We plan to launch further studies in income and consumption. We plan on opening the site to the public to add their own examples of 1v99 soon (we are looking for developers to help with opening the platform :).</p>
  <p>We invite you, the 99%, to enjoy, share with friends, and participate.</p>
  <h4>Powered by</h4>
  <ul>
    <li><%= link_to image_tag('http://static.brighterplanet.com/assets/logos/flush-left/inline/green/rasterized/brighter_planet-200.png'), 'http://brighterplanet.com' %></li>
    <li><%= link_to image_tag('http://hyperakt.com/files/logo-hyperakt.gif'), 'http://hyperakt.com' %></li>
    <li><%= link_to image_tag('/images/ps_logo.jpg'), 'http://thepublicsociety.com' %></li>
  </ul>
</div>

<div id="who">
  <h3>Who?</h3>
  <div class="divider"></div>
  <ul>
    <li>
      <h4>Seamus Abshere</h4>
      <h5>Developer</h5>
      <p>Seamus is the Engineering Director at Brighter Planet. He works on <a href="http://impact.brighterplanet.com">the enviromental calculation API</a>, the <a href="http://data.brighterplanet.com">data-mining service</a>, and <a href="http://workingwithrails.com/person/15878-seamus-abshere">some open-source libraries</a>. He studied anthropology and computer science at Princeton University; his idols are Pierre Bourdieu and Ratan Tata.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Jeremy Baron</h4>
      <h5>Developer</h5>
      <p>Jeremy juggles. Really well.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Cristian Fleming</h4>
      <h5>Designer</h5>
      <p>Founder and designer at <a href="http://thepublicsociety.com/">The Public Society</a>, illustrator, maker, doodler, I started my life with a pencil in hand and never stopped imagining. Nearly 20 years of multi-disciplinary experience in graphic design, illustration and typography for a broad range of clients from non-profits and start-ups to Fortune 500s coupled with a fierce interest in the psychology of identity and a strong desire to make a difference through design led me to imagine a branding and visual communications company. When I'm not at work I'm definitely off disciplining cats with my girlfriend, a fellow cat herding professional.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Deroy Peraza</h4>
      <h5>Designer</h5>
      <p>Deroy loves working at the crossroads of social entrepreneurship and design, and relentlessly searches for meaningful challenges. He loves juggling vastly different projects, such as data visualizations, brand identities, website interfaces and inventing products such as <a href="http://LetsSwap.it">LetsSwap.it</a>. His role at Hyperakt is to provide creative and visionary leadership and mentorship for the Hyperaktivists, as well as being a hands on designer. Deroy taught at Parsons for four years and regularly speaks about design. A die-hard FC Barcelona fan, Deroy currently lives in Brooklyn with his wife Jenna.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Andy Rossmeissl</h4>
      <h5>Developer</h5>
      <p>Andy co-founded Brighter Planet in 2005 and continues to design and integrate its products and services. Andy has been chief of staff to political consultant Joe Trippi, personal assistant to Robert F. Kennedy, Jr., and a member of Howard Dean's 2004 presidential campaign web team. A long-time technologist, he is also an Eagle Scout.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Matt Solt</h4>
      <h5>Developer</h5>
      <p>Matt is a renewable energy developer and founder of <a href="http://www.civvic.com/">Civvic</a>, an online marketplace and analysis platform for energy services. As an entrepreneur working on solving energy efficiency and corporate sustainability problems with web-based technologies, he is passionate about the cleanweb movement. Previously, Matt was CEO of MetroTek, where he built one of Pennsylvania's largest renewable energy companies, and Director of Sales and Marketing for Space Adventures, the only company to have put private citizens into space.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Volkan Unsal</h4>
      <h5>Developer</h5>
      <p>I wear many hats. I'm a web engineer, but I love user experience design and consulted on this topic with several startups. I am adept at communicating with project stakeholders in a timely, efficient and courteous manner, delegating tasks to collaborators, and appreciating the deadlines and business objectives driving a project. Since 2004, I've been building awesome websites, working with awesome people in beautiful NYC, and I'd love to get a chance working with you to build your site or app.</p>
    </li>
  </ul>
</div>
