<%= content_for :head do %>
<%= stylesheet_link_tag 'about' %>
<%= stylesheet_link_tag 'nav' %>
<% end %>

<div class="nav">
  <ul class="links">
    <li><%= link_to 'add your own', '#' %></li>
    <li><%= link_to 'about 1v99.org', '/about' %></li>
  </ul>
  <h1>1v99</h1>
  <h2><span>V</span>isualize the gap.</h2>
</div>

<div id="what">
  <h3>What?</h3>
  <div class="divider"></div>
  <p>Sint eiusmod mustache, fap cliche leggings cupidatat consectetur. Minim raw denim nihil, carles placeat jean shorts nesciunt. Keffiyeh aute voluptate irony. Mixtape tumblr ad retro voluptate, etsy thundercats officia photo booth single-origin coffee cred terry richardson gluten-free pitchfork. Terry richardson ullamco sed, helvetica tempor sapiente whatever. Ex adipisicing cosby sweater sint, commodo skateboard PBR magna artisan mollit craft beer vegan qui. Commodo artisan mixtape single-origin coffee, cosby sweater blog exercitation salvia fap portland lomo aliqua +1.</p>
  <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
  <h4>Powered by</h4>
  <ul>
    <li><%= link_to image_tag('http://static.brighterplanet.com/assets/logos/flush-left/inline/green/rasterized/brighter_planet-200.png'), 'http://brighterplanet.com' %></li>
    <li><%= link_to image_tag('http://hyperakt.com/files/logo-hyperakt.gif'), 'http://hyperakt.com' %></li>
    <li><%= link_to image_tag('/images/ps_logo.jpg'), 'http://thepublicsociety.com' %></li>
  </ul>
</div>

<div id="who">
  <h3>Who?</h3>
  <div class="divider"></div>
  <ul>
    <li>
      <h4>Seamus Abshere</h4>
      <h5>Developer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Jeremy Baron</h4>
      <h5>Developer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Cristian Fleming</h4>
      <h5>Designer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Deroy Peraza</h4>
      <h5>Designer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Andy Rossmeissl</h4>
      <h5>Developer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Matt Solt</h4>
      <h5>Developer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
      <div class="divider"></div>
    </li>
    <li>
      <h4>Volkan Unsal</h4>
      <h5>Developer</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
    </li>
    <li>
      <h4>David Yeh</h4>
      <h5>Researcher/Copywriter</h5>
      <p>Irony organic keffiyeh et ea duis. Mustache occaecat chambray, ex sartorial mixtape mcsweeney's banksy elit blog. Photo booth nostrud VHS +1 nisi consequat keytar. Irony messenger bag twee, leggings cosby sweater brooklyn salvia laboris sartorial. Do irony messenger bag williamsburg portland tofu four loko, sunt 3 wolf moon tempor blog mlkshk. Echo park velit voluptate tofu exercitation. Mcsweeney's fanny pack duis, raw denim freegan anim terry richardson tempor.</p>
    </li>
  </ul>
</div>
